<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
  <div class="cs-container">
    <ul class="cs-ul">
      {% set navPages = collections.all | eleventyNavigation %} {% for entry in
      navPages %}
      <li class="cs-li">
        <a href="{{ entry.url }}" class="cs-link"> {{ entry.key }} </a>
      </li>
      {% endfor %}
      <li class="cs-li">
        <a href="mailto:{{client.email}}" class="cs-link">{{ client.email }}</a>
      </li>
    </ul>
    <div class="cs-bottom">
      <span class="cs-copyright">© 2023 Copyright Tri-Cities Web Designs</span>
      <a
        class="cs-social-link"
        aria-label="visit google profile"
        href="{{client.google}}"
        target="_blank"
        rel="noopener"
      >
        <img
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="/assets/svgs/google-black.svg"
          alt="google"
          width="11"
          height="11"
        />
      </a>
    </div>
  </div>
</footer>
