<!-- ============================================ -->
<!--                  Pricing                     -->
<!-- ============================================ -->
<section id="pricing-357">
  <svg
    preserveAspectRatio="none"
    class="cs-wave"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1440 320"
  >
    <path
      fill="#7286D3"
      fill-opacity="1"
      d="M0,64L80,90.7C160,117,320,171,480,208C640,245,800,267,960,229.3C1120,192,1280,96,1360,48L1440,0L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"
    ></path>
  </svg>
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Pricing</span>
      <h2 class="cs-title">It’s Easy to <span>Get Started</span></h2>
      <p class="cs-text">
        100% transparent pricing guarantee. The price you see is the price you
        pay.
      </p>
    </div>
    <ul class="cs-card-group">
      <!-- Option 1 -->
      <li class="cs-item">
        <h3 class="cs-h3">Lump Sum Package</h3>
        <p class="cs-item-text">No Strings Attached</p>
        <div class="cs-option-group">
          <span class="cs-price"
            >$2000<span class="cs-small">/one time</span></span
          >
        </div>
        <span class="cs-included">Package Includes</span>
        <ul class="cs-ul">
          <li class="cs-li">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/svgs/check-blue.svg"
              alt="blue check"
              width="20"
              height="20"
            />
            High Quality Logo Redesign In All Formats
          </li>
          <li class="cs-li">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/svgs/check-blue.svg"
              alt="blue check"
              width="20"
              height="20"
            />
            3 Months Unlimited Edits
          </li>
          <li class="cs-li cs-disabled">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/svgs/check-blue.svg"
              alt="blue check"
              width="20"
              height="20"
            />
            3 Months Support
          </li>
          <li class="cs-li cs-disabled">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/svgs/check-blue.svg"
              alt="blue check"
              width="20"
              height="20"
            />
            SEO to increase page ranking
          </li>
          <li class="cs-li">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/svgs/check-blue.svg"
              alt="blue check"
              width="20"
              height="20"
            />
            $20/mo hosting available
          </li>
        </ul>
        <a href="/contact" class="cs-button-solid">Get Started</a>
      </li>
      <!-- Option 2 -->
      <li class="cs-item cs-popular">
        <h3 class="cs-h3">Full Subscription Package</h3>
        <p class="cs-item-text">Perfect to get started.</p>
        <div class="cs-option-group">
          <span class="cs-price">$150<span class="cs-small">/month</span></span>
        </div>
        <span class="cs-included">Package Includes</span>
        <ul class="cs-ul">
          <li class="cs-li">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/svgs/check-blue.svg"
              alt="blue check"
              width="20"
              height="20"
            />
            High Quality Logo Redesign In All Formats
          </li>
          <li class="cs-li">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/svgs/check-blue.svg"
              alt="blue check"
              width="20"
              height="20"
            />
            24/7 Unlimited Edits
          </li>
          <li class="cs-li cs-disabled">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/svgs/check-blue.svg"
              alt="blue check"
              width="20"
              height="20"
            />
            Domain/Hosting Costs
          </li>
          <li class="cs-li cs-disabled">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/svgs/check-blue.svg"
              alt="blue check"
              width="20"
              height="20"
            />
            Lifetime Support
          </li>
          <li class="cs-li">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/svgs/check-blue.svg"
              alt="blue check"
              width="20"
              height="20"
            />
            SEO to increase page ranking
          </li>
        </ul>
        <a href="/contact" class="cs-button-solid">Get Started</a>
      </li>
      <!-- Option 3 -->
      <li class="cs-item">
        <h3 class="cs-h3">High Quality Assets</h3>
        <p class="cs-item-text">Included FREE</p>
        <div class="cs-option-group">
          <span class="cs-price">$0<span class="cs-small">/month</span></span>
        </div>
        <span class="cs-included">Package Includes</span>
        <ul class="cs-ul">
          <li class="cs-li">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/svgs/check-blue.svg"
              alt="blue check"
              width="20"
              height="20"
            />
            Logo Redesign
          </li>
          <li class="cs-li">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/svgs/check-blue.svg"
              alt="blue check"
              width="20"
              height="20"
            />
            All File Formats
          </li>
          <li class="cs-li">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/svgs/check-blue.svg"
              alt="blue check"
              width="20"
              height="20"
            />
            High Quality Icons
          </li>
          <li class="cs-li">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/svgs/check-blue.svg"
              alt="blue check"
              width="20"
              height="20"
            />
            FREE w/ Any Purchase
          </li>
          <li class="cs-li">
            <img
              class="cs-li-img"
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/svgs/check-blue.svg"
              alt="blue check"
              width="20"
              height="20"
            />
            High Performance SVG Format Logo
          </li>
        </ul>
        <a href="/contact" class="cs-button-solid">Get Started</a>
      </li>
    </ul>
  </div>
</section>
