---
title: "Contact"
description: "Contact us to discuss your needs and how we can help. We would love to hear from you!"
preloadImg: ""
permalink: "contact/"
eleventyNavigation:
  key: Contact
  order: 500
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/css/contact.css" />
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact">
  <!--Image by vectorjuice on Freepik https://www.freepik.com/free-vector/customer-managers-working-with-customers-pie-charts-devices-customer-segmentation-internet-marketing-tool-target-audience-collection-concept-pinkish-coral-bluevector-isolated-illustration_11668796.htm#from_view=detail_alsolike-->
  <svg
    preserveAspectRatio="none"
    class="cs-wave"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1440 320"
  >
    <path
      fill="#7286D3"
      fill-opacity="1"
      d="M0,64L80,90.7C160,117,320,171,480,208C640,245,800,267,960,229.3C1120,192,1280,96,1360,48L1440,0L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"
    ></path>
  </svg>
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Contact Us</span>
      <h2 class="cs-title">We'll Get Back To You As Soon As Possible</h2>
    </div>
    <div class="cs-contact-group">
      <picture class="cs-picture">
        <img
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="/assets/svgs/graphic4.svg"
          alt="svg graphic"
          width="630"
          height="461"
        />
      </picture>
      <ul class="cs-ul">
        <li class="cs-li">
          <picture class="cs-icon-wrapper">
            <img
              aria-hidden="true"
              src="/assets/svgs/email.svg"
              alt="address icon"
              class="cs-icon"
              width="40"
              height="40"
              decoding="async"
            />
          </picture>
          <div class="cs-flex-group">
            <span class="cs-header">Email</span>
            <a href="mailto:{{client.email}}" class="cs-link"
              >{{client.email}}</a
            >
          </div>
        </li>
        <!--
        <li class="cs-li">
          <picture class="cs-icon-wrapper">
            <img
              aria-hidden="true"
              src="/assets/svgs/phone.svg"
              alt="phone icon"
              class="cs-icon"
              width="40"
              height="40"
              decoding="async"
            />
          </picture>
          <div class="cs-flex-group">
            <span class="cs-header">Phone</span>
            <a
              href="tel:{{client.phoneForTel}}
                        "
              class="cs-link"
              >{{client.phoneFormatted}}
            </a>
          </div>
        </li>
        -->
      </ul>
    </div>
    <!--Form-->
    <form
      class="cs-form"
      id="cs-form-1151"
      name="Contact Form"
      method="post"
      data-netlify="true"
    >
      <label class="cs-label">
        Name
        <input
          class="cs-input"
          required
          type="text"
          id="name-1151"
          name="name"
          placeholder="Name"
        />
      </label>
      <label class="cs-label cs-email">
        Email
        <input
          class="cs-input"
          required
          type="email"
          id="email-1151"
          name="email"
          placeholder="Email"
        />
      </label>
      <label class="cs-label cs-phone">
        Phone
        <input
          class="cs-input"
          required
          type="number"
          id="phone-1151"
          name="phone"
          placeholder="Phone"
        />
      </label>
      <label class="cs-label">
        Message
        <textarea
          class="cs-input cs-textarea"
          required
          name="Message"
          id="message-1151"
          placeholder="Write message..."
        ></textarea>
      </label>
      <button class="cs-button-solid cs-submit" type="submit">
        Send Message
      </button>
    </form>
    <!--Bounce Graphic-->
    <img
      class="cs-graphic cs-graphic1 cs-icon"
      loading="lazy"
      decoding="async"
      src="/assets/svgs/bounce.svg"
      alt="bounce"
      width="208"
      height="124"
    />
    <!--Coin Graphic-->
    <img
      class="cs-graphic cs-graphic2 cs-icon"
      loading="lazy"
      decoding="async"
      src="/assets/svgs/coin.svg"
      alt="coin"
      width="205"
      height="161"
    />
  </div>
</section>

{% endblock %}
