---
title: "Services"
description: "Meta description for the page"
preloadImg: "/assets/images/cabinets2.jpg"
permalink: "services/"
eleventyNavigation:
  key: Services
  order: 300
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/css/services.css" />
{% endblock %} {% block body %}
<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbs-r-870">
  <div class="cs-container">
    <picture class="cs-picture">
      <!--Mobile Image-->
      <source media="(max-width: 600px)" srcset="/assets/svgs/graphic1.svg" />
      <!--Tablet and above Image-->
      <source media="(min-width: 601px)" srcset="/assets/svgs/graphic1.svg" />
      <img
        loading="lazy"
        decoding="async"
        src="/assets/svgs/graphic1.svg"
        alt="therapy"
        width="630"
        height="775"
      />
    </picture>
    <div class="cs-content">
      <span class="cs-topper">Our Philosophy</span>
      <h2 class="cs-title">Development Done Different</h2>
      <p class="cs-text">
        Our approach to web development sets us apart from the rest. We don’t
        rely on WordPress, frameworks, or page builders - instead, we carefully
        craft each line of code by hand. This gives us unparalleled control over
        the design and ensures that our websites perform at top speeds, free
        from the bloated or messy code that can slow them down.
      </p>
      <p class="cs-text">
        Our hand-built websites outshine most WordPress sites and drag-and-drop
        page builders, which can be costly. In the world of the web, speed and
        optimization are key.
      </p>
      <a href="" class="cs-button-solid">Learn More</a>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-515">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">SEO Techniques</span>
      <h2 class="cs-title">
        Optimal <span class="cs-color">SEO Techniques</span> for 2021
      </h2>
      <p class="cs-text">
        Don’t be fooled by anyone who claims they can get you to the front page
        of Google in just three months - unless you’ve been featured by a major
        publication like The New York Times, it could take years to reach the
        top of search results. We offer a range of advanced search engine
        optimization techniques for 2021 to help you stay ahead of the game,
        including:
      </p>
      <ul class="cs-ul">
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            src="/assets/svgs/check-blue.svg"
            loading="lazy"
            decoding="async"
            alt="icon"
            width="40"
            height="40"
          />
          Content and blogs centered around targeted keywords
        </li>
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            src="/assets/svgs/check-blue.svg"
            loading="lazy"
            decoding="async"
            alt="icon"
            width="40"
            height="40"
          />
          Optimization for mobile-first user experiences
        </li>
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            src="/assets/svgs/check-blue.svg"
            loading="lazy"
            decoding="async"
            alt="icon"
            width="40"
            height="40"
          />
          Clean and well-organized code structure for easy web-crrawling by the
          search engines
        </li>
      </ul>
      <a href="" class="cs-button-solid">More About Us</a>
    </div>
    <!--Picture-->
    <picture class="cs-picture">
      <img
        aria-hidden="true"
        loading="lazy"
        decoding="async"
        src="/assets/svgs/graphic2.svg"
        alt="lightbulbs"
        width="630"
        height="461"
      />
    </picture>
  </div>
</section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-516">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">SEO Techniques</span>
      <h2 class="cs-title">
        Optimal <span class="cs-color">SEO Techniques</span> for 2021
      </h2>
      <p class="cs-text">
        Don’t be fooled by anyone who claims they can get you to the front page
        of Google in just three months - unless you’ve been featured by a major
        publication like The New York Times, it could take years to reach the
        top of search results. We offer a range of advanced search engine
        optimization techniques for 2021 to help you stay ahead of the game,
        including:
      </p>
      <ul class="cs-ul">
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            src="/assets/svgs/check-blue.svg"
            loading="lazy"
            decoding="async"
            alt="icon"
            width="40"
            height="40"
          />
          Content and blogs centered around targeted keywords
        </li>
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            src="/assets/svgs/check-blue.svg"
            loading="lazy"
            decoding="async"
            alt="icon"
            width="40"
            height="40"
          />
          Optimization for mobile-first user experiences
        </li>
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            src="/assets/svgs/check-blue.svg"
            loading="lazy"
            decoding="async"
            alt="icon"
            width="40"
            height="40"
          />
          Clean and well-organized code structure for easy web-crrawling by the
          search engines
        </li>
      </ul>
      <a href="" class="cs-button-solid">More About Us</a>
    </div>
    <!--Picture-->
    <picture class="cs-picture">
      <img
        aria-hidden="true"
        loading="lazy"
        decoding="async"
        src="/assets/svgs/graphic2.svg"
        alt="lightbulbs"
        width="630"
        height="461"
      />
    </picture>
  </div>
</section>

{% endblock %}
