---
title: "Services"
description: "Discover our range of web development services for small businesses. From website design to SEO, we have the expertise to help you achieve your goals."
preloadImg: ""
permalink: "services/"
eleventyNavigation:
  key: Services
  order: 300
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/css/services.css" />
{% endblock %} {% block body %}
<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbs-r-870">
  <svg
    preserveAspectRatio="none"
    class="cs-wave"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1440 320"
  >
    <path
      fill="#E5E0FF"
      fill-opacity="1"
      d="M0,192L48,202.7C96,213,192,235,288,256C384,277,480,299,576,288C672,277,768,235,864,229.3C960,224,1056,256,1152,250.7C1248,245,1344,203,1392,181.3L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
    ></path>
  </svg>
  <div class="cs-container">
    <!--Image by pch.vector on Freepik https://www.freepik.com/free-vector/tiny-graphic-designer-drawing-with-big-pen-computer-screen-creators-work-creative-woman-working-laptop-flat-vector-illustration-digital-design-concept-banner-landing-web-page_28480869.htm#query=website%20graphic&position=15&from_view=search&track=country_rows_v1-->
    <picture class="cs-picture">
      <img
        loading="lazy"
        decoding="async"
        src="/assets/svgs/graphic1.svg"
        alt="svg graphic"
        width="630"
        height="775"
      />
    </picture>
    <div class="cs-content">
      <span class="cs-topper">Our Philosophy</span>
      <h2 class="cs-title">
        Development Done <span class="cs-color">Different</span>
      </h2>
      <p class="cs-text">
        Our approach to web development sets us apart from the rest. We don’t
        rely on WordPress, frameworks, or page builders - instead, we carefully
        craft each line of code by hand. This gives us unparalleled control over
        the design and ensures that our websites perform at top speeds, free
        from the bloated or messy code that can slow them down.
      </p>
      <p class="cs-text">
        Our hand-built websites outshine most WordPress sites and drag-and-drop
        page builders, which can be costly. In the world of the web, speed and
        optimization are key.
      </p>
      <a href="#sbs-515" class="cs-button-solid">Continue</a>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-515">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">SEO Techniques</span>
      <h2 class="cs-title">
        Optimal <span class="cs-color">SEO Techniques</span> for 2021
      </h2>
      <p class="cs-text">
        Don’t be fooled by anyone who claims they can get you to the front page
        of Google in just three months - unless you’ve been featured by a major
        publication like The New York Times, it could take years to reach the
        top of search results. We offer a range of advanced search engine
        optimization techniques for 2021 to help you stay ahead of the game,
        including:
      </p>
      <ul class="cs-ul">
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            src="/assets/svgs/check-blue.svg"
            loading="lazy"
            decoding="async"
            alt="blue check"
            width="40"
            height="40"
          />
          Content and blogs centered around targeted keywords
        </li>
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            src="/assets/svgs/check-blue.svg"
            loading="lazy"
            decoding="async"
            alt="blue check"
            width="40"
            height="40"
          />
          Optimization for mobile-first user experiences
        </li>
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            src="/assets/svgs/check-blue.svg"
            loading="lazy"
            decoding="async"
            alt="blue check"
            width="40"
            height="40"
          />
          Clean and well-organized code structure for easy web-crrawling by the
          search engines
        </li>
      </ul>
      <a href="#sbs-516" class="cs-button-solid">Continue</a>
    </div>
    <!--Picture-->
    <!--Image by vectorjuice on Freepik https://www.freepik.com/free-vector/designers-are-working-desing-web-page-web-design-user-interface-user-experience-content-organization_13450330.htm#query=website%20graphic&position=2&from_view=search&track=country_rows_v1-->
    <picture class="cs-picture">
      <img
        aria-hidden="true"
        loading="lazy"
        decoding="async"
        src="/assets/svgs/graphic2.svg"
        alt="svg graphic"
        width="630"
        height="461"
      />
    </picture>
  </div>
</section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-516">
  <svg
    preserveAspectRatio="none"
    class="cs-wave"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1440 320"
  >
    <path
      fill="#E5E0FF"
      fill-opacity="1"
      d="M0,96L48,80C96,64,192,32,288,48C384,64,480,128,576,181.3C672,235,768,277,864,256C960,235,1056,149,1152,122.7C1248,96,1344,128,1392,144L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
    ></path>
  </svg>
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Freebies</span>
      <h2 class="cs-title">
        Branding, Logos, & Graphic Design included
        <span class="cs-color">FREE</span>
      </h2>
      <p class="cs-text">
        In addition to our web development services, we also offer branding,
        logo, and graphic design services through our talented designer. Whether
        you need to refresh an existing logo or create a brand new one from
        scratch, we can help you build a strong brand identity for your
        business.
      </p>
      <ul class="cs-ul">
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            src="/assets/svgs/check-blue.svg"
            loading="lazy"
            decoding="async"
            alt="blue check"
            width="40"
            height="40"
          />
          High Quality Logo Design In All Formats
        </li>
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            src="/assets/svgs/check-blue.svg"
            loading="lazy"
            decoding="async"
            alt="blue check"
            width="40"
            height="40"
          />
          Included with any website purchase
        </li>
        <li class="cs-li">
          <img
            class="cs-icon"
            aria-hidden="true"
            src="/assets/svgs/check-blue.svg"
            loading="lazy"
            decoding="async"
            alt="blue check"
            width="40"
            height="40"
          />
          Rates starting at $100 without website purchase
        </li>
      </ul>
      <a href="/contact" class="cs-button-solid">Contact Us</a>
    </div>
    <!--Picture-->
    <!--Image by pch.vector on Freepik https://www.freepik.com/free-vector/digital-marketing-team-constructing-landing-home-page_11235349.htm#page=2&query=website%20graphic&position=12&from_view=search&track=country_rows_v1-->

    <picture class="cs-picture">
      <img
        aria-hidden="true"
        loading="lazy"
        decoding="async"
        src="/assets/svgs/graphic3.svg"
        alt="svg graphic"
        width="630"
        height="461"
      />
    </picture>
  </div>
</section>

{% include "components/pricing.html" %} {% endblock %}
