/* CODESTITCH STYLES, RESET, HEADER/NAVIGATION AND FOOTER */

/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/

/* CodeStitch Root and Helpers */
@media only screen and (min-width: 0em) {
    // Website colors
	:root {
		--primary: #7286D3;
		--primaryLight: #E5E0FF;
		--secondary: #8EA7E9;
		--secondaryLight: #FFF2F2;
		--headerColor: #1a1a1a;
		--bodyTextColor: #4e4b66;
		--bodyTextColorWhite: #fafbfc;

		/* 13px - 16px */
		--topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
		/* 31px - 49px */
		--headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
		--bodyFontSize: 1rem;

		/* 60px - 100px top and bottom */
		--sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
	}

    // Text styles - can be replaced using CodeStitch's "Content Flair" Stitches
    .cs-topper {
        font-size: var(--topperFontSize);
        line-height: 1.2em;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: 700;
        color: var(--secondary);
        display: block;
    }

    .cs-title {
        font-size: var(--headerFontSize);
        font-weight: 900;
        line-height: 1.2em;
        margin: 0 auto (16/16rem);
        color: var(--headerColor);
        position: relative;
    }

    .cs-text {
		font-size: var(--bodyFontSize);
        line-height: 1.5em;
        color: var(--bodyTextColor);
        width: 100%;
        margin: 0 auto;
	}
    
	// Button - can be replaced using CodeStitch's "Button" Stitches
	.cs-button-solid {
        font-size: (16/16rem);
		font-weight: bold;
		text-decoration: none;
		display: inline-block;
		width: auto;
		line-height: (50/16em);
		height: (50/16rem);
		text-align: center;
		padding: 0 (30/16rem);
		position: relative;
		z-index: 1;
		background-color: var(--primary);
        
		// Transition Properties
		color: #000;
		transition: color 0.3s;
		transition-delay: 0.1s;
        
		&:hover {
            color: #fff;
			&:before {
                width: 100%;
			}
		}
        
		&:before {
            content: '';
			position: absolute;
			display: block;
			height: 100%;
			opacity: 1;
			top: 0;
			left: 0;
			z-index: -1;
			background-color: #000;
            
			//Transition properties
			width: 0;
			transition: width 0.3s;
		}
	}
}

/* Fonts and general styles */
@media only screen and (min-width: 0em) {
/* lato-regular - latin */
	@font-face {
		font-family: "Lato";
		font-style: normal;
		font-weight: 400;
		src: local(""), url("/assets/fonts/Lato-Regular.ttf") format("truetype");
		font-display: swap;
	}

	/* lato-700 - latin */
	@font-face {
		font-family: "Lato";
		font-style: normal;
		font-weight: 700;
		src: local(""), url("/assets/fonts/Lato-Bold.ttf") format("truetype");
		font-display: swap;
	}
	/* George-700 - latin */
	@font-face {
		font-family: "George";
		font-style: normal;
		font-weight: 700;
		src: local(""), url("/assets/fonts/George-SemiBold.ttf") format("truetype");
		font-display: swap;
	}

	body,
	html {
		margin: 0;
		padding: 0;
		font-size: 100%;
		font-family: 'Lato', Arial, sans-serif;
		color: var(--bodyTextColor);
		overflow-x: hidden;
	}

	*,
	*:before,
	*:after {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	body {
		transition: background-color 0.3s;
	}

	.container {
		position: relative;
		width: 92%;
		margin: auto;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
		color: var(--headerColor);
	}

	p,
	li,
	a {
		margin: 0;
		font-size: (16/16rem);
		line-height: 27/18em;
	}

	p,
	li {
		color: #353535;
	}

	a,
	button {
		&:hover {
			cursor: pointer;
		}
	}

    // Hidden Screen reader skip nav button
	.skip {
        position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		z-index: -1111111;
	}
}

/* Reset Margins */
@media only screen and (min-width: 1024px) {
    body,
	html {
        padding: 0;
		margin: 0;
	}
}

/* Scale full website with the viewport width */
@media only screen and (min-width: 2000px) {
	body,
	html {
		font-size: 0.85vw;
	}
}
/*-- -------------------------- -->
<---      Dark Mode Toggle      -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
	body.dark-mode #dark-mode-toggle .cs-sun {
		transform: translate(-50%, -50%);
		opacity: 1;
	}

	body.dark-mode #dark-mode-toggle .cs-moon {
		transform: translate(-50%, -150%);
		opacity: 0;
	}

	#cs-navigation.cs-active .cs-moon {
		fill: #fff;
	}

	#dark-mode-toggle img,
	#dark-mode-toggle svg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 1.25rem;
		height: 1.25rem;
		pointer-events: none;
	}

	#dark-mode-toggle .cs-moon {
		z-index: 2;
		transition: transform .3s, opacity .3s;
	}

	#dark-mode-toggle .cs-sun {
		z-index: 1;
		transform: translate(-50%, 100%);
		opacity: 0;
		transition: transform .3s, opacity .3s;
	}
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
	#dark-mode-toggle {
		position: relative;
		transform: none;
		top: auto;
		right: auto;
		margin: 0 0 0 1.5rem;
	}

	#dark-mode-toggle:hover {
		cursor: pointer;
	}
}

/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/

body,
html {
	/* reset margin and padding so there's no gap between the nav and the screen edges */
	margin: 0;
	padding: 0;
}
/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
	body.cs-open {
		overflow: hidden;
	}

	#cs-navigation {
		width: 100%;
		padding: 0.75rem 1rem;
		/* prevents padding from affecting height and width */
		box-sizing: border-box;
		background-color: var(--primaryLight);
		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
		position: fixed;
		z-index: 10000;
	}

	#cs-navigation:before {
		/* on hover green bar */
		content: '';
		width: 40%;
		max-width: 9.125rem;
		height: 100%;
		background: var(--primary);
		opacity: 1;
		position: absolute;
		display: block;
		top: 0;
		left: 0%;
		z-index: -1;
		transition: width 0.2s, max-width 0.3s, background-color 0.3s;
	}

	#cs-navigation.cs-active:before {
		width: 100%;
		max-width: 100%;
		background-color: var(--secondary);
	}

	#cs-navigation.cs-active .cs-link {
		color: var(--bodyTextColorWhite);
	}

	#cs-navigation.cs-active .cs-ul-wrapper {
		opacity: 1;
		transform: scaleY(1);
		transition-delay: .1s;
	}

	#cs-navigation.cs-active .cs-li {
		transform: translateY(0);
		opacity: 1;
	}

	#cs-navigation .cs-logo {
		width: 40%;
		max-width: 9.125rem;
		height: 100%;
		padding: 0.75rem 1rem;
		/* prevents padding from affecting height and width */
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
	}

	#cs-navigation .cs-logo img {
		width: 100%;
		height: 100%;
		/* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
		object-fit: contain;
	}

	#cs-navigation .cs-toggle {
		/* 44px - 48px */
		width: clamp(2.75rem, 6vw, 3rem);
		height: clamp(2.75rem, 6vw, 3rem);
		margin: 0 0 0 auto;
		border-radius: 0.25rem;
		background-color: #484848;
		border: none;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#cs-navigation .cs-active .cs-line1 {
		top: 50%;
		transform: translate(-50%, -50%) rotate(225deg);
	}

	#cs-navigation .cs-active .cs-line2 {
		top: 50%;
		transform-origin: center;
		transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
	}

	#cs-navigation .cs-active .cs-line3 {
		bottom: 100%;
		opacity: 0;
	}

	#cs-navigation .cs-box {
		/* 24px - 28px */
		width: clamp(1.5rem, 2vw, 1.75rem);
		/* 14px - 16px */
		height: clamp(0.875rem, 1.5vw, 1rem);
		position: relative;
	}

	#cs-navigation .cs-line {
		width: 100%;
		height: 2px;
		border-radius: 2px;
		background-color: #fff;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

	#cs-navigation .cs-line1 {
		top: 0;
		transform-origin: center;
		transition: transform .5s, top .3S, left .3S;
		animation-duration: .7s;
		animation-timing-function: ease;
		animation-fill-mode: forwards;
		animation-direction: normal;
	}

	#cs-navigation .cs-line2 {
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		transition: top .3s, left .3s, transform .5s;
		animation-duration: .7s;
		animation-timing-function: ease;
		animation-fill-mode: forwards;
		animation-direction: normal;
	}

	#cs-navigation .cs-line3 {
		bottom: 0;
		transition: bottom .3s, opacity .3s;
	}

	#cs-navigation .cs-ul-wrapper {
		width: 100%;
		height: 100vh;
		opacity: 0;
		background-color: var(--primaryLight);
		box-shadow: inset rgba(0, 0, 0, 0.2) 0px 8px 24px;
		overflow: hidden;
		position: absolute;
		top: 100%;
		left: 0;
		z-index: -1;
		transform: scaleY(0);
		transform-origin: top;
		transition: transform .4s, opacity .3s;
	}

	#cs-navigation .cs-ul {
		margin: 0;
		padding: 3rem 0 3rem 0;
		width: 100%;
		height: auto;
		max-height: 65vh;
		overflow: scroll;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		align-items: center;
		gap: 1.25rem;
	}

	#cs-navigation .cs-li {
		text-align: center;
		list-style: none;
		margin-right: 0;
		/* transition from these values */
		transform: translateY(-4.375rem);
		opacity: 0;
		transition: transform .6s, opacity .9s;
	}

	#cs-navigation .cs-li:nth-of-type(1) {
		transition-delay: .05s;
	}

	#cs-navigation .cs-li:nth-of-type(2) {
		transition-delay: .1s;
	}

	#cs-navigation .cs-li:nth-of-type(3) {
		transition-delay: .15s;
	}

	#cs-navigation .cs-li:nth-of-type(4) {
		transition-delay: .2s;
	}

	#cs-navigation .cs-li:nth-of-type(5) {
		transition-delay: .25s;
	}

	#cs-navigation .cs-li:nth-of-type(6) {
		transition-delay: .3s;
	}

	#cs-navigation .cs-li:nth-of-type(7) {
		transition-delay: .35s;
	}

	#cs-navigation .cs-li:nth-of-type(8) {
		transition-delay: .4s;
	}

	#cs-navigation .cs-li:nth-of-type(9) {
		transition-delay: .45s;
	}

	#cs-navigation .cs-li-link {
		/* 16px - 24px */
		font-size: clamp(1rem, 3vw, 1.5rem);
		line-height: 1.2em;
		text-decoration: none;
		margin: 0;
		color: var(--headerColor);
		display: inline-block;
		position: relative;
	}

	#cs-navigation .cs-li-link:before {
		/* active state underline */
		content: '';
		width: 100%;
		height: 1px;
		background: currentColor;
		opacity: 1;
		position: absolute;
		display: none;
		bottom: -0.125rem;
		left: 0;
	}

	#cs-navigation .cs-li-link.cs-active:before {
		display: block;
	}

	#cs-navigation .cs-button-solid {
		display: none;
	}
}

/* Dark Mode */
@media only screen and (max-width: 63.9375rem) {
	body.dark-mode #cs-navigation {
		background-color: var(--dark);
	}

	body.dark-mode #cs-navigation .cs-ul-wrapper {
		background-color: var(--dark);
	}

	body.dark-mode #cs-navigation .cs-ul-wrapper:before {
		/* backgorund overlay */
		content: '';
		width: 100%;
		height: 100%;
		background: #000;
		opacity: .2;
		position: absolute;
		display: block;
		top: 0;
		left: 0;
	}

	body.dark-mode #cs-navigation .cs-li-link {
		color: var(--bodyTextColorWhite);
	}
}

/*-- -------------------------- -->
<---     Desktop Navigation     -->
<--- -------------------------- -*/

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
	#cs-navigation {
		/* remove the font family so the Stitch inherits the fonts from your global stylesheet */
		font-family: 'Roboto', 'Arial', sans-serif;
		width: 100%;
		/* 23px - 420px */
		padding: 0rem 1rem 0rem clamp(14.6875rem, 23vw, 26.25rem);
		/* prevents padding from affecting height and width */
		box-sizing: border-box;
		background-color: var(--primaryLight);
		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: fixed;
		z-index: 10000;
	}

	#cs-navigation .cs-toggle {
		display: none;
	}

	#cs-navigation .cs-logo {
		width: 18.4%;
		max-width: 20rem;
		height: 100%;
		/* 32px - 64px */
		padding: 1rem clamp(2rem, 4vw, 4rem);
		background-color: var(--primary);
		/* prevents padding from affecting height and width */
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 100;
	}

	#cs-navigation .cs-logo img {
		width: 100%;
		height: 100%;
		/* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
		object-fit: contain;
	}

	#cs-navigation .cs-ul {
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		/* 20px - 36px */
		gap: clamp(1.25rem, 2.6vw, 2.25rem);
	}

	#cs-navigation .cs-li {
		list-style: none;
		padding: 2rem 0;
		/* prevent flexbox from squishing it */
		flex: none;
	}

	#cs-navigation .cs-li:last-of-type {
		/* pushes the button to the far roght */
		margin-left: auto;
	}

	#cs-navigation .cs-li-link {
		/* 14px - 16px */
		font-size: clamp(0.875rem, 1vw, 1rem);
		line-height: 1.5em;
		text-decoration: none;
		margin: 0;
		color: var(--bodyTextColor);
		display: block;
		position: relative;
	}

	#cs-navigation .cs-li-link:hover:before {
		width: 100%;
	}

	#cs-navigation .cs-li-link.cs-active:before {
		width: 100%;
	}

	#cs-navigation .cs-li-link:before {
		/* active state underline */
		content: '';
		width: 0%;
		height: 2px;
		background: var(--primary);
		opacity: 1;
		position: absolute;
		display: block;
		bottom: 0rem;
		left: 0;
		transition: width .3s;
	}

	#cs-navigation .cs-button-solid {
		font-size: 1rem;
		/* 46px - 56px */
		line-height: clamp(2.875em, 5.5vw, 3.5em);
		text-decoration: none;
		font-weight: 700;
		text-align: center;
		margin: 0;
		color: #fff;
		min-width: 9.375rem;
		padding: 0 1.5rem;
		background-color: var(--primary);
		border-radius: 0.25rem;
		display: inline-block;
		position: relative;
		z-index: 1;
		/* prevents padding from adding to the width */
		box-sizing: border-box;
	}

	#cs-navigation .cs-button-solid:before {
		content: '';
		position: absolute;
		height: 100%;
		width: 0%;
		background: #000;
		opacity: 1;
		top: 0;
		left: 0;
		z-index: -1;
		border-radius: 0.25rem;
		transition: width .3s;
	}

	#cs-navigation .cs-button-solid:hover:before {
		width: 100%;
	}

	#cs-navigation .cs-nav-button {
		margin: 0 0 0 auto;
	}
}

/* Dark Mode */
@media only screen and (min-width: 64rem) {
	body.dark-mode #cs-navigation {
		background-color: var(--dark);
	}

	body.dark-mode #cs-navigation .cs-logo {
		background-color: var(--medium);
	}

	body.dark-mode #cs-navigation .cs-li-link {
		color: var(--bodyTextColorWhite);
	}

	body.dark-mode #cs-navigation .cs-li-link:before {
		background-color: var(--primaryLight);
	}
}

/*-- -------------------------- -->
<---   Interior Page Header     -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {
	#int-hero {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: relative;
		z-index: 1;
		min-height: 30vh;
		padding-top: (50/16rem);

		&:before {
			content: '';
			position: absolute;
			display: block;
			height: 100%;
			width: 100%;
			background: #000;
			opacity: 0.7;
			top: 0;
			left: 0;
			z-index: -1;
		}

		picture {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: -2;

			img {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}

		h1 {
			color: #fff;
			font-size: 64/30rem;
			text-align: center;
			margin: 0 auto;
			position: relative;
			width: 96%;
			max-width: (500/16rem);
			margin-top: (70/16rem);
			margin-bottom: (30/16rem);
		}

		p {
			color: #fff;
			text-align: center;
			max-width: (400/16rem);
			margin: auto;
			margin-bottom: (30/16rem);
			display: block;
			width: 96%;
		}
	}
}

/* Tablet */
@media only screen and (min-width: 48em) {
	#int-hero {
		font-size: 100%;

		h1 {
			font-size: (64/16rem);
		}
	}
}

/* Small Desktop */
@media only screen and (min-width: 64em) {
	#int-hero {
		min-height: (300/16rem);
		height: auto;
		padding-top: (180/16rem);
		padding-block-end: (100/16rem);
		background-attachment: fixed;
		font-size: inherit;
	}
}

/*-- -------------------------- -->
<---    Final Call To Action    -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {
	#cta {
		position: relative;
		padding: (50/16rem) 0;

		&:before {
			content: '';
			position: absolute;
			display: block;
			height: 100%;
			width: 100%;
			background: #000;
			opacity: 0.7;
			top: 0;
			left: 0;
			z-index: -1;
		}

		.container {
			text-align: center;
		}

		picture {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: -2;

			img {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}

		.title {
			font-weight: 900;
			font-size: ~'min(9vw, 3rem)';
			line-height: 58/48;
			color: #fff;
			position: relative;
			margin-bottom: (36/16rem);
			text-align: center;
		}

		p {
			color: #fff;
			text-align: center;
			opacity: 1;
			margin: auto;
			margin-bottom: (36/16rem);
			width: 96%;
			max-width: (598/16rem);
		}
	}
}

/* Small Desktop */
@media only screen and (min-width: 64em) {
	#cta {
		padding: (168/16rem) 0;
	}
}

/* Large Desktop */
@media only screen and (min-width: 1300px) {
	#cta {
		position: relative;
		margin-top: (100/16rem);
		&:before {
			display: none;
		}
		&:after {
			content: '';
			position: absolute;
			display: block;
			height: (1108/16rem);
			width: (2000/16rem);
			background: url('/assets/svgs/cta-squares.svg');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			opacity: 1;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			z-index: -3;
		}
		.container {
			width: 90.0625%;
			margin: auto;
		}

		picture {
			width: 90.0625%;
			left: 50%;
			transform: translateX(-50%);

			&:before {
				content: '';
				position: absolute;
				display: block;
				height: 100%;
				width: 100%;
				background: #000;
				opacity: 0.7;
				top: 0;
				left: 0;
				z-index: 1;
			}
		}
	}
}

/* Dark Mode */
@media only screen and (min-width: 0em) {
	body.dark-mode {
		#cta {
			&:after {
				display: none;
			}
		}
	}
}


/*-- -------------------------- -->
<---           Footer           -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0em) {
	#footer {
		background: #1c1c1c;
		padding: (84/16rem) 0 (20/16rem);
		font-size: ~'min(4vw, 1.2em)';

		.left-section {
			margin: auto;
			margin-bottom: (50/16rem);
			text-align: center;
			.logo {
				display: inline-block;
				margin: auto;
				width: auto;
				height: (32/16em);
				margin-bottom: (30/16em);
				text-align: center;

				img {
					width: auto;
					height: 100%;
					display: block;
				}
			}

			p {
				font-size: (14/16rem);
				line-height: 27/14;
				color: #fff;
				opacity: 0.9;
				text-align: center;
				width: 100%;
				width: 304/14rem;
				margin: auto;
			}
		}

		.right-section {
			width: 96%;
			max-width: (404/16rem);
			margin: auto;
			.lists {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				width: 96%;
				max-width: (304/16rem);
				margin: auto;
				ul {
					padding: 0;
					margin-bottom: 0;
					margin-top: 0;

					&:nth-of-type(3) {
						margin-top: (50/16rem);
						li {
							display: flex;
							justify-content: flex-start;
							align-items: center;
							margin-bottom: (16/16rem);

							&:last-of-type {
								margin-bottom: 0;
							}
						}
					}

					li {
						list-style: none;
						margin-bottom: (12/16rem);
						color: #fff;
						font-size: (18/16rem);
						opacity: 0.9;

						a {
							text-decoration: none;
							color: #fff;
							line-height: 21/18em;
							transition: color 0.3s;
							&:hover {
								color: var(--primary);
							}
						}
					}
					h2 {
						color: #fff;
						font-size: (18/16rem);
						line-height: 21/18em;
						margin-bottom: (37/16rem);
						font-weight: bold;
						position: relative;

						&:before {
							content: '';
							position: absolute;
							display: block;
							height: (2/16rem);
							width: (97/16rem);
							background: var(--primary);
							opacity: 1;
							bottom: (-16/16rem);
							left: 0;
						}
					}
				}
			}

			.buttons {
				display: flex;
				justify-content: center;
			}

			.cs-button-solid {
				margin: 0;
				height: (53/16rem);
				padding-top: (3/16rem);
				width: (250/16rem);
			}
		}

		.credit {
			color: #fff;
			width: 96%;
			margin: auto;
			text-align: center;
			margin-top: (100/16rem);
			line-height: (36/16rem);
			font-size: (16/16rem);

			a {
				color: var(--primary);
				text-decoration: none;
				font-size: (16/16rem);

				&:hover {
					text-decoration: underline;
				}
			}

			.copyright {
				display: block;
				font-size: (16/16rem);
			}
		}
	}
}

/* Small Desktop */
@media only screen and (min-width: 64em) {
	#footer {
		font-size: ~'min(1.2vw, 1em)';
		.container {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			width: 96%;
			max-width: (1320/16rem);
			margin: auto;
			padding: 0;
		}

		.left-section {
			width: (409/16rem);
			margin: 0;
			text-align: left;

			.logo {
				text-align: left;
				margin-left: 0;
				height: (40/16rem);
			}

			p {
				text-align: left;
				margin-left: 0;
			}
		}

		.right-section {
			margin: 0;
			width: (609/16rem);
			max-width: none;
			.lists {
				width: 96%;
				max-width: (769/16rem);
				margin: 0;
				max-width: initial;

				ul {
					&:nth-of-type(3) {
						margin-top: 0;

						li:first-of-type {
							margin-bottom: 0;
						}
					}

					li {
						a {
							position: relative;

							&:before {
								content: '';
								position: absolute;
								display: block;
								height: (2/16rem);
								width: 0%;
								background: var(--primary);
								opacity: 1;
								bottom: (-3/16rem);
								left: 0;
								transition: width 0.3s;
							}

							&:hover {
								&:before {
									width: 100%;
								}
							}
						}
					}
				}
			}

			.buttons {
				justify-content: flex-start;
			}
		}

		.credit {
			.copyright {
				display: inline-block;
			}
		}
	}
}

/* Dark Mode */
@media only screen and (min-width: 0em) {
	body.dark-mode {
		#footer {
			background: #061623;
		}
	}
}
